<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>Gym Manager</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header class="nav">
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>
        </header>

        {% block content %}{% endblock content %}

        <script src="/scripts.js"></script>
    </body>

</html>