<script>
    const formDelete = document.querySelector('#form-delete')

    formDelete.addEventListener('submit', function (event) {
        console.log('adasdsd')
        const confirmation = confirm('Desejar realmente deletar?')

        if (!confirmation) 
            event.preventDefault()
    })
</script>