{% extends 'layout.njk' %}

{% block content %}

    <div class="card">
        <section class="avatar"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome</div>
                <div>Carolina Maia</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>27</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>Feminino</div>
            </div>

            <div class="item">
                <div>Formação</div>
                <div>Doutorado</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Musculação</span>
                    <span>Crossfit</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>13/04/2013</div>
            </div>

        </section>
    </div>

{% endblock content %}