{% extends 'layout.njk' %}

{% block content %}

    <form class="card container" method="POST" action="/instructors">
        <section class="avatar" style="background: url('http://source.unsplash.com/collection/8353395/512x512') no-repeat center center / cover"></section>
        <section class="details">
            <h3>Novo Instrutor</h3>

            {% include 'instructors/fields.njk' %}

        </section>
    </form>

{% endblock content %}