{% extends 'layout.njk' %}

{% block content %}

    <div class="card container table-container">
        <div class="header">
            <a href="/instructors/create" class="button">novo</a>
            <form action="/instructors" method="GET">
                <input type="text" name="filter" placeholder="Nome ou Acompanhamento" value="{{ filter }}">
                <button type="submit" class="button">Filtrar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="can-hide-2">Acompanhamento</th>
                    <th class="can-hide">Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <div>
                                <span style="background-image: url({{ instructor.avatar_url }})"></span>
                                {{ instructor.name }}
                            </div>
                        </td>
                        <td class="can-hide-2">
                            <div>
                                {% for service in instructor.services %}
                                    <span class="label">{{ service }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="can-hide">
                            {{ instructor.students }}
                        </td>
                        <td>
                            <a href="/instructors/{{ instructor.id }}" class="button">ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination" data-page="{{ pagination.page }}" data-total="{{ pagination.totalPages }}" data-filter="{{ filter }}"></div>
    </div>

{% endblock content %}