{% extends 'layout.njk' %}

{% block content %}

    <div class="card table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ instructor.avatar_url }})"></span>{{ instructor.name }}</td>
                        <td>
                            {% for service in instructor.services %}
                                <span class="label">{{ service }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/instructors/{{ instructor.id }}" class="button">ver</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <a href="/instructors/create" class="button">novo</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock content %}