@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

:root {
    --primary-color: yellow;
    --secondary-color: black;
    --terciary-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 32px;
    text-align: center;
}

.nav {
    font-size: 22px;
}

.nav a + a {
    margin-left: 32px;
}

.nav a {
    text-decoration: none;
    color: var(--terciary-color);
    position: relative;
}

.nav a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.nav a:hover {
    color: var(--primary-color);
}

.nav a:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    bottom: -4px;
}

.nav a:hover::after {
    width: 100%;
    left: 0;
    transition: all 200ms ease-in-out;
}

/* === CARD === */

.card {
    background-color: var(--secondary-color);
    width: 640px;
    min-height: 400px;
    margin: 48px auto 0;

    display: grid;

    grid-template-columns: 0.4fr 0.6fr;

    box-shadow: 0px 16px 32px var(--secondary-color);

    animation: up 700ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        box-shadow: 0px 16px 64px var(--secondary-color);
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
    }
}

.details {
    color: var(--terciary-color);
    padding: 32px;
}

.details .item {
    padding: 16px 0 8px;
}

.details .item:nth-child(7) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.details .item:last-child {
    padding-bottom: 0;
    border: none;
}

.details .item + .item {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: var(--secondary-color);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

/* === FORM === */

input, select {
    width: 100%;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 6px;
    margin-left: -6px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

a.button,
button[type="submit"] {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}