{% extends 'layout.njk' %}

{% block content %}

    <div class="card container table-container">
        <div class="header">
            <a href="/members/create" class="button">novo</a>
            <form action="/members" method="GET">
                <input type="text" name="filter" placeholder="Nome ou Email" value="{{ filter }}">
                <button type="submit" class="button">Filtrar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="can-hide-2">Email</th>
                    <th class="can-hide">Altura</th>
                    <th class="can-hide">Peso</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>
                            <div>
                                <span style="background-image: url({{ member.avatar_url }})"></span>
                                {{ member.name }}
                            </div>
                        </td>
                        <td class="can-hide-2">{{ member.email }}</td>
                        <td class="can-hide">{{ member.height }}cm</td>
                        <td class="can-hide">{{ member.weight }}kg</td>
                        <td>
                            <a href="/members/{{ member.id }}" class="button">ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination" data-page="{{ pagination.page }}" data-total="{{ pagination.totalPages }}" data-filter="{{ filter }}"></div>
    </div>

{% endblock content %}