{% extends 'layout.njk' %}

{% block content %}

    <div class="card container">
        <section class="avatar" style="background: url({{ member.avatar_url }}) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome</div>
                <div>{{ member.name }}</div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>{{ member.email }}</div>
            </div>

            <div class="item">
                <div>Aniversário</div>
                <div>{{ member.birth }}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{ "Masculino" if member.gender == 'M' else "Feminino" }}</div>
            </div>

            <div class="item">
                <div>Tipo Sanguíneo</div>
                <div>{{ member.blood }}</div>
            </div>

            <div class="item">
                <div>Altura (cm)</div>
                <div>{{ member.height }}</div>
            </div>

            <div class="item">
                <div>Peso (kg)</div>
                <div>{{ member.weight }}</div>
            </div>

            <div class="item">
                <div>Aluno de</div>
                <div>{{ member.instructor }}</div>
            </div>

            <div class="buttons">
                <a href="/members/{{ member.id }}/edit" class="button">Editar</a>
                <form id="form-delete" action="/members?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value="{{ member.id }}">
                    <button type="submit">Deletar</button>
                </form>
            </div>
        </section>
    </div>
    {% include 'confirm.njk' %}
{% endblock content %}